<div class="container">

    <div class="row align-items-start">
        <div class="d-inline-flex justify-content-start">
            <div class="logo-square bg-primary text-white">
                <p>Logo</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-8 hero-text bg-light text-dark">
            <p>At Double Dutch Gymnastics we believe in our athletes and want to help them meet all their goals!

We have classes for youth of all ages and skill levels. From Littles to Kids to Teens and everyone in between, let us help your child find their passion today!
        </div>
        <div class="col-4 d-inline-flex bg-secondary flex-end justify-content-end">
            <div class="photo-square text-white">
                <p>Team Photo</p>
            </div>
        </div>
    </div>

    <a class="btn btn-warning">Get Started</a>

</div>